###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


###> ŚRODOWISKO I SEKRETY ###
.env
.env.dev

###> IDE & SYSTEM ###
.idea/
.vscode/
.DS_Store
Thumbs.db

/public/build/
